{% extends 'base.html.twig' %}

{% block title %}Głosowanie :: {{ kn.name }} :: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="container">
        <h4>{{ meeting.title }}</h4>
        <p>Głosowanie w sprawie: {{ votingGroup.subject }}</p>
        <div>Już oddano głos.</div>
        <table class="display table table-bordered">
            <tbody>
            <tr>
                <td>Uprawnionych do głosowania</td>
                <td>{{ attendance|length }}</td>
            </tr>
            <tr>
                <td>Oddanych głosów</td>
                <td>{{ votingGroup.votings[0].votes|length }}</td>
            </tr>
            </tbody>
        </table>
        {% if is_granted('ROLE_CHAIRMAN_'~kn.olimpId) %}
            {{ form(endBtn) }}
            <br/>
        {% endif %}
        <div>
            <a href="/kn/meetings/{{ meeting.id }}/votings" class="btn btn-primary">
                Powrót do głosowań
            </a>
        </div>
    </div>

{% endblock %}