{% extends 'base.html.twig' %}

{% block title %}Lista pytań i odpowiedzi :: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="btn-group d-flex" role="group" aria-label="...">
            <a role="button" class="btn btn-outline-primary w-100" href="/qa/categories">
                <i class="fa fa-folder fa-2x" style=" vertical-align: middle;"></i>
                <span class="ml-2"><b>Kategorie</b></span>
            </a>
            <a role="button" class="btn btn-outline-primary w-100" href="/qa/items">
                <i class="fa fa-question fa-2x" style=" vertical-align: middle;"></i>
                <span class="ml-2"><b>Pytania</b></span>
            </a>
        </div>
        <br><br>
        <a href="/qa/categories/new" class="btn btn-primary btn-lg">Nowa kategoria</a>
        <br><br>
        {% if categories %}
            <br>
            {{ form_start(form) }}
            <table width="100%" class="display table table-hover table-bordered">
                <thead>
                <tr  class="bg-primary">
                    <th>Kategoria</th>
                    <th>Nr w kolejności</th>
                    <th>Usuń</th>
                </tr>
                </thead>
                <tbody>

                {% for category in form.categories %}
                    <tr scope="row">
                        <td>{{ form_row(category.name) }}</td>
                        <td>{{ form_row(category.ordering) }}</td>
                        <td>{{ form_row(category.deleted) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_end(form) }}
        {% else %}
            <p>Brak kategorii</p>
        {% endif %}
    </div>
{% endblock %}