{% extends 'base.html.twig' %}

{% block title %}Głosowanie {{kn ? ':: '~kn.name : '' }}:: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="container">
        <h4>{{ meeting.title }}</h4>
        <p>Głosowanie w sprawie: {{ votingGroup.subject }}</p>
        <div>
            Niestety nie masz prawa głosu w tym głosowaniu. Jeżeli uważasz, że nie powinno tak być, sprawdź
            {% if kn %}
                <a href="/kn/meetings/{{ meeting.id }}/attendance">swoją obecność na posiedzeniu</a>.
            {% else %}
                <a href="/meetings/{{ meeting.id }}/attendance">swoją obecność na posiedzeniu</a>.
            {% endif %}
            {% if kn %}
                <br/>Tylko aktualni członkowie Koła mają prawo głosu w zebraniach!
            {% endif %}
        </div>
    </div>

{% endblock %}