{% extends 'base.html.twig' %}

{% block title %}Lista artykułów :: Rada Kół Naukowych PW{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="btn-group d-flex" role="group" aria-label="...">
            <a role="button" class="btn btn-outline-primary w-100" href="/article/list">
                <i class="far fa-newspaper fa-2x" style=" vertical-align: middle;"></i><span class="ml-2"><b>Artykuły</b></span>
            </a>
            <a role="button" class="btn btn-outline-primary w-100" href="/pictures/list">
                <i class="far fa-images fa-2x" style=" vertical-align: middle;"></i><span class="ml-2"><b>Obrazy</b></span>
            </a>
            <a role="button" class="btn btn-outline-primary w-100" href="/files/list">
                <i class="fas fa-file-upload fa-2x" style=" vertical-align: middle;"></i><span class="ml-2"><b>Pliki</b></span>
            </a>
            <a role="button" class="btn btn-outline-primary w-100" href="/menu">
                <i class="fas fa-bars fa-2x" style=" vertical-align: middle;"></i><span class="ml-2"><b>Menu</b></span>
            </a>
        </div>
    <br><br>
    <a href="/article/new" class="btn btn-primary btn-lg">Nowy Artykuł</a>
    <br><br>
    {% if articles %}
        <br>
        <table id="idatatable" datatable="" width="100%" class="display table table-hover table-bordered">
            <thead>
            <tr  class="bg-primary">
                <th>Artykuł</th>
                <th>Link</th>
                <th>Typ</th>
                <th>Utworzony przez</th>
                <th>Data ostatniej modyfikacji</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr scope="row">
                    <td>{{ article.title }}</td>
                    <td>/article/{{ article.id }}</td>
                    <td>{{ article.articletype }}</td>
                    <td>{{ article.createdBy.name }} {{ article.createdBy.surname }}</td>
                    <td>{{ article.modifiedTime|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="/article/{{ article.id }}" class="btn btn-outline-primary">Podgląd</a>
                        <a href="/article/{{ article.id }}/edit" class="btn btn-primary">Edycja</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak artykułów</p>
    {% endif %}
    </div>
{% endblock %}
{#
{% block additionaljs %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#idatatable').DataTable();
        } );
    </script>
{% endblock %}#}
